* {
  box-sizing: border-box;
}



html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  text-align: center;
  font-size: 3vw;
}

h2 {
font-size: 1vw;
}
#chart--container {
  width: 100%;
}

#chart {
  width: 80%;
  float: left;
  height: 80vh;
  position: relative;
}

#legend {
  width: 20%;
  margin: 0;
  float: right;
}

.legend-label {
  font-size: 1vw;
  /* dominant-baseline: central; */
}

.axis--label{
  font-size: 1vw;
  font-weight: bold;
  text-anchor: middle;
}

.axis {
  font-size: 2vh;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 0px;

  padding: 2px;
  background-color: rgba(255,255,255,0.8);
  font-size: 11pt;
}


@media screen and (max-width: 375px){
  #legend{
    float:none;
    margin:0 0 10 10 ;
  }
   #chart{
  padding:0;
  float: left;
  height: 150px;
   }

   h2{
    margin: 10;
    text-align: center;
   }

   .axis--label{
    font-size: 2vh;
   }
  }

  @media screen and (min-width:768px){
    
 #legend{ 
    float:left;
    margin:0 0 0 10;
 }
    #chart{
  padding:0;
  float: right;
    
  }
  body{
    background-color: rgb(240, 230, 250);
    
  }

}

  @media screen and (min-width:992px){
    body{
    background-color: rgb(189, 211, 253);
    }
    
    #legend{ 
    float:right;
    margin:0 0 10 20 ; 
 }
    #chart{
  padding:0;
  float: left;
    
  }


}